.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  min-width: 100%;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-secondary);
  color: var(--color-letter);
  z-index: 10;
}
.logo {
  font-size: 24px;
}
.logo a {
  text-decoration: none;
  color: var(--color-letter);
}
.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}
.nav_list li {
  list-style: none;
  letter-spacing: 1.5px;
}
.nav_list li a {
  text-decoration: none;
  padding: 0 40px;
  color: var(--color-letter);
}
.nav_list li a:hover {
  color: var(--primary);
}
.button_user {
  height: 64px;
  display: flex;
  align-items: center;
}
.button_user a {
  text-decoration: none;
  padding: 4px 20px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.menu {
  display: none;
  font-size: 24px;
}
@media (max-width: 768px) {
  .nav_list {
    display: none;
  }
  .menu {
    display: inline-block;
  }
  .button_user {
    display: none;
  }
}
